.card-tutor-header{
    margin-bottom: 1.25rem ;
    border-radius: 1rem !important;
}
.card-tutor-header-text{
    margin: 0;
    display: inline-block;
}

.btn-add-tutor{
float: right;
margin-right: 1rem;
}

.card-tutor{
    border-radius: 1rem !important;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.185)!important;
}

.modal-title-tutor{
    text-align: center;
    margin-left: auto;
}

.add-tutor-done-div{
text-align: center;
}

.add-tutor-done-button{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 1.5rem;
    font-weight: bold;
  
}

.input-tutorFirstName, .input-tutorLastName, .input-tutorStateName, .input-tutorCityName, .input-tutorEmail, .input-tutorPassword{
    border-radius: 1rem;
}

.modal-tutor-header{
    margin-bottom: 0.75rem;
}
