.min-height-300 {
    min-height: 17rem !important;
    margin-top: 0%;
}
.bg-primary {
    background-color: #5e72e4 !important;
}
.w-100 {
    width: 100% !important;
}
.position-absolute {
    position: absolute !important;
}